venv/
venv*/
wandb/
tables/
.gs.txt
checkpoints/
uncond_text.pt
*.egg-info/
*.egg
__pycache__/
*.pyc
.DS_Store
*.csv
*.mp4
*.pt
*.pth
*.sh


# credentials
config/platform/credentials/custom/default_custom.yaml
config/platform/custom/local_custom.yaml
config/platform/custom/slurm_custom.yaml
config/platform/local_akopyane.yaml


# third-party dependencies
third_party/
dino_cache_784/
dino_cache/
logs/
runs/
runs_stage2/
experiments/

data/OpenTT/videos

data/bad_label_candidates
data/bad_label_review
